.cd-drawer-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 680px;
    background: transparent;
    pointer-events: auto;
    z-index: 50;
}

.cd-drawer {
    width: 610px;
    background: #121212;
    height: 90vh;
    display: flex;
    flex-direction: column;
    color: rgba(30, 30, 30, 0.9);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-right: 70px
}

.cd-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #1f1f1f;
    height: 57px;
}

.cd-close {
    background: none;
    border: none;
    color: #aaa;
    width: 36px;
    height: 36px;
    top: 30px;
    right: 80px
}

.cd-block {
    padding: 14px 16px;
    border-bottom: 1px solid #1f1f1f;
}

.cd-block-head {
    display: flex;
    justify-content: space-between;
    color: #ddd;
    cursor: pointer;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;

}

.cd-exif-grid {
    margin-top: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
}

.cd-exif-item label {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 0.4);
}

.cd-exif-item span {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 0.9);
}

.cd-comments {
    margin-top: 12px;
    max-height: 300px;
    overflow-y: auto;
}

.cd-comment {
    margin-bottom: 14px;
}

.cd-comment strong {
    font-size: 13px;
}

.cd-comment p {
    font-size: 13px;
    color: #ccc;
    margin: 2px 0;
}

.cd-comment small {
    font-size: 11px;
    color: #777;
}

.cd-input-bar {
    margin-top: auto;
    padding: 12px;
    display: flex;
    gap: 8px;
    border-top: 1px solid #1f1f1f;
}

.cd-input-bar input {
    flex: 1;
    background: #1e1e1e;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 6px;
}

.cd-input-bar button {
    background: #1db954;
    border: none;
    padding: 0 14px;
    border-radius: 6px;
}

.cd-comment-stats {
    display: flex;
    gap: 22px;
    align-items: center;
    padding: 10px 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.02),
            rgba(0, 0, 0, 0.4));
}

.cd-stat {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    color: #ddd;
}

.cd-stat .cd-icon {
    font-size: 16px;
}

.cd-stat .cd-heart {
    color: #ff4d6d;
}

.cd-stat .cd-comment {
    color: #aaa;
}

.cd-stat .cd-count {
    font-weight: 500;
}