#gp-overall {
    padding: 16px 53px 50px 77px;
}

#gp-heads {
    padding: 62px 73px 20px 94px;
}

#gp-galcontainer {
    padding: 55px 0 13px;
}

#gp-joincontainer {
    margin-top: 130px;
}

.gp-events-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
}

.gp-events-title {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
}

.gp-search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding: 6px 30px;
    width: 470px;
    height: 60px;
    transition: border-color 0.2s ease;
    gap: 20px
}

.gp-search-bar:hover,
.gp-search-bar:focus-within {
    border-color: #d1d5db;
}

.gp-search-bar i {
    color: #c0c0c0;
    font-size: 14px;
    margin-right: 8px;
}

.gp-search-input {
    border: none;
    outline: none;
    font-size: 14px;
    color: #333;
    flex: 1;
    background: transparent;
}

.gp-search-input::placeholder {
    color: #c0c0c0;
}

#gp-clubheading {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 28px
}

#gp-clubsub {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}

#gp-cl {
    margin-bottom: 50px;
    margin-right: 15px;
}

.gp-clubpics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    max-width: 1644px;
}

.gp-clubpics-item {
    position: relative;
    overflow: hidden;
}

.gp-clubpics-item img {
    border-radius: 0;
    width: 100%;
    height: 411px;
    max-width: 411px;
    object-fit: cover;
    object-position: top;
}

.gp-clubpics-info {
    background: #4c403699;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
    font-family: Inter;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60px;
}

#gp-view {
    max-width: 186px;
    height: 60px;
    opacity: 1;
    padding: 8px 16px;
    gap: 10px;
    font-family: Inter;
    font-weight: 600;
    font-style: Semi-Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

.gp-site-footer {
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 14px;
    color: #555;
    border-top: 1px solid #ddd;
    margin-top: 40px;
}

.gp-site-footer a {
    color: #007bff;
    text-decoration: none;
}

.gp-site-footer a:hover {
    text-decoration: underline;
}

.gp-event-img,
.gp-fallback-box {
    width: 100%;
    max-width: 50px;
    height: 50px;
    border-radius: 7px;
    object-fit: cover;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.gp-event-item {
    gap: 20px;
}

.gp-fallback-box {
    font-size: 14px;
    color: #888;
}

.gp-icon-circles .gp-flickr-dots i,
.gp-flickr-dots i {
    font-size: 8px;
    margin: 1px;
}

#gp-footer-heading {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 500;
    font-family: Inter;
    font-style: Regular;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
}

.gp-container {
    max-width: 1820px;
    padding: 0 15px;
    margin: 0 auto;
}

.gp-card {
    background: white;
    border-radius: 10px;
    flex: 1;
    margin: 20px 0 10px 17px;
    width: 97.4%;
    height: auto;
    padding-bottom: 15px;
    border: none;
}

#gp-joincontainer {
    padding: 25px 0px 20px;
}

#gp-cls {
    align-items: center !important;
}

.gp-join {
    border-radius: 15px;
    padding: 45px 60px 35px;
    height: 180px;
}

#gp-joincontainer #gp-clubheading {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0%;
    margin-bottom: 9px;
}

.gp-join .gp-heading {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
}

#gp-joincontainer #gp-clubsub {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 42px;
    letter-spacing: 0%;
}

.gp-head {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
}

#gp-join-club {
    width: 200px;
    height: 60px;
    padding: 8px 16px;
    border-radius: 7px;
    background-color: #99816b;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    font-family: Inter;
    color: white;
    margin-bottom: 20px;
    border: none;
    outline: none;
    box-shadow: none;
}

#gp-footer-heading {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 500;
    line-height: 36px
}

#gp-footer-description {
    font-weight: 400;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
}

.gp-contact-col,
.gp-social-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gp-contact-col {
    margin-right: 60px;
}

.gp-social-col {
    margin-left: 60px;
}

.gp-contact-item {
    padding-bottom: 4px;
}

.gp-contact-item:last-child {
    padding-bottom: 0px;
}

.gp-social-item {
    padding-bottom: 10px;
}

.gp-social-item:last-child {
    padding-bottom: 0px;
}

.gp-icon-circles,
.gp-ficon-circles {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.gp-footer-img {
    max-width: 440px;
    height: 350px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.gp-site-footer {
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 14px;
    color: #555;
    border-top: 1px solid #ddd;
    margin-top: 40px;
}

.gp-site-footer a {
    color: #007bff;
    text-decoration: none;
}

.gp-site-footer a:hover {
    text-decoration: underline;
}

.gp-memtext {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000;
}

.gp-hero-section {
    position: relative;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 20px;
}

.gp-hero-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.46);
    z-index: 1;
}

.gp-hero-overlay {
    position: relative;
    z-index: 2;
    background: rgba(76, 64, 54, 0.5);
    padding: 53px 42px;
    width: 825px;
    height: 558px;
    margin-left: 2%;
    border-radius: 10px;
    color: #fff;
}

#gp-view {
    width: 100%;
    max-width: 187px;
    height: 60px;
    border-radius: 7px;
    background-color: #99816b;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    font-family: Inter;
    color: white;
    border: none;
    outline: none;
    box-shadow: none;
}

.gp-hero-overlay .gp-icon-circles {
    margin-top: 10px;
    margin-bottom: 50px;
    width: 34px;
    height: 34px;
    margin-right: 10px;
}

.gp-hero-overlay h1 {
    font-size: 72px;
    margin-bottom: 20px;
    margin-top: 50px;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    line-height: 1.2;
    letter-spacing: 0%;
}

.gp-hero-overlay .gp-prehead {
    margin-top: 5px;
    margin-left: 5px;
}

#gp-overlay-button {
    width: 280px;
    height: 60px;
    padding: 8px 16px;
    border-radius: 7px;
    background-color: #99816b;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    font-family: Inter;
    color: white;
    border: none;
    margin-top: 12px;
    margin-left: 5px;
}

.gp-card-section {
    display: flex;
    gap: 15px;
    width: 100%;
}

.gp-stat-card {
    background: #cc445e;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 219px;
    font-family: Inter;
    font-size: 1.2rem;
    height: 148px;
}

.gp-event-card {
    background: #755840;
    color: white;
    padding: 20px;
    height: 148px;
    border-radius: 8px;
    text-align: center;
    font-family: Inter;
    font-size: 1.2rem;
    width: 219px;
}

.gp-number {
    font-weight: 500;
    font-size: 48px;
    font-family: Inter;
    line-height: 100%;
    color: white;
    margin-top: 30px;
}

.gp-ca-details {
    font-weight: 400;
    font-size: 20px;
    font-family: Inter;
    line-height: 100%;
}


.gp-days {
    margin-top: 35px;
    font-weight: 400;
    font-family: Inter;
    font-size: 16px;
    line-height: 100%;
}

@media only screen and (max-width: 991px) {

    .gp-right-header .gp-profile-mobile,
    .gp-right-header .gp-divider,
    .gp-notification-desktop,
    .gp-down {
        display: none !important;
    }

    .gp-notification-mobile {
        display: inline-flex !important;
        margin-right: 10px;
    }

    #gp-login {
        padding: 0px 15px 20px 45px;
        display: flex;
        font-size: 18px;
        font-family: Inter;
        font-weight: 400;
    }

    .gp-navbar .gp-right-header {
        margin-left: 0;
    }
}