#nop-overall {
    padding: 0 25px 60px 75px;
}

#nop-events-left {
    flex: 3;
}

#nop-heads {
    padding: 60px 70px 48px 90px;
}

.nop-events-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
}

.nop-events-title {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
}

.nop-search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding: 6px 30px;
    width: 470px;
    height: 60px;
    transition: border-color 0.2s ease;
    gap: 20px
}

.nop-search-bar:hover,
.nop-search-bar:focus-within {
    border-color: #d1d5db;
}

.nop-search-bar i {
    color: #c0c0c0;
    font-size: 20px;
    margin-right: 8px;
}

.nop-search-input {
    border: none;
    outline: none;
    font-size: 20px;
    color: #333;
    flex: 1;
    background: transparent;
}

.nop-search-input::placeholder {
    color: #c0c0c0;
}

.nop-filter-buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.nop-filter-btn {
    padding: 10px 16px;
    border: 1px solid rgba(127, 164, 131, 1);
    border-radius: 8px;
    background-color: transparent;
    color: rgba(127, 164, 131, 1);
    width: 122.71px;
    height: 40px;
    cursor: pointer;
    transition: all 0.25s ease;
    font-family: Inter;
    font-style: Regular;
    letter-spacing: 0%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.nop-filter-btn:hover {
    border-color: #6f8c6f;
    color: #2e2e2e;
}

.nop-filter-btn .nop-icones {
    width: 16px;
    height: 16px;
    transition: 0.3s;
}

.nop-filter-btn .nop-label {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    margin-left: 5px
}

.nop-filter-btn.nop-active {
    background-color: #7a9c7a;
    color: #fff;
    border-color: #7a9c7a;
}

.nop-filter-btn.nop-active .nop-icones {
    filter: brightness(0) invert(1);
}

.nop-filter-btn.nop-active .nop-label {
    color: white;
}

.nop-hero-overlay {
    width: 820px;
}

.nop-events-cards {
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0px 10px 20px 0px rgba(153, 129, 107, 0.15);
    margin-bottom: 35px;
    border-radius: 10px;
    width: 975px;
    height: 310px;
    flex-direction: row;
    gap: 50px
}

.nop-events-cards img {
    max-width: 300px;
    width: 550px;
    height: 250px;
    border-radius: 8px;
    opacity: 1;
    margin-left: 20px;
    margin-right: 0;
}

.nop-events-cards #nop-ename {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: -15px;
}

.nop-events-cards #nop-edate {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}

.nop-events-cards .nop-text-secondary {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    margin-bottom: 25px;
}

#nop-detail {
    margin-right: 20px;
    width: 99%;
}

.nop-events-cards #nop-espeaker {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}

#nop-right {
    margin-left: 26px;
    flex: 1;
}

.nop-button-groups #nop-view {
    max-width: 130px;
    height: 40px;
    opacity: 1;
    padding: 10px 17px;
    gap: 10px;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 15px;
    border: navajowhite;
}

.nop-site-footer {
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 14px;
    color: #555;
    border-top: 1px solid #ddd;
    margin-top: 40px;
}

.nop-site-footer a {
    color: #007bff;
    text-decoration: none;
}

.nop-site-footer a:hover {
    text-decoration: underline;
}

.nop-ultrahead {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 72px;
    line-height: 20px;
    letter-spacing: 0%;
}

.nop-heading {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
}

.nop-head {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
}

.nop-clubhead {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

.nop-subhead {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0%;
}

.nop-memtext {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.nop-prehead {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
}

.nop-galtext {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
}

.nop-event-img,
.nop-fallback-box {
    width: 100%;
    max-width: 50px;
    height: 50px;
    border-radius: 7px;
    object-fit: cover;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.nop-event-item {
    gap: 20px;
}

.nop-fallback-box {
    font-size: 14px;
    color: #888;
}

.nop-icon-circles .nop-flickr-dots i,
.nop-flickr-dots i {
    font-size: 8px;
    margin: 1px;
}

.nop-more-card {
    height: 580px;
    background: white;
    width: 470px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 24px;
    box-shadow: 0px 10px 20px 0px rgba(153, 129, 107, 0.15);
}

.nop-button-group button {
    margin-right: 8px;
}

.nop-event-list {
    padding-top: 20px;
}

.nop-event-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nop-event-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nop-event-item img {
    width: 100%;
    max-width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
}

.nop-event-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    font-size: 0.875rem;
    width: 100%;
}

#nop-ename {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi-Bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
}

#nop-espeaker {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0%;
}

.nop-notification-mobile {
    display: none;
}

.nop-dt-paging {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 5px;
    margin-left: -10px;
}

.nop-dt-paging-button {
    border: 1px solid green;
    background: #ffffff;
    color: black;
    margin: 2px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.nop-3s ease;
    width: 40px;
    height: 40px;
    padding: 0;
    margin-left: 8px;
}

.nop-dt-paging-button.nop-disabled {
    background: #ffffff;
    color: black;
    border: 1px solid #99816b;
    cursor: not-allowed;
    opacity: 0.6;
}

.nop-dt-paging-button.nop-current {
    background: orange;
    font-weight: bold;
    border: none;
    color: white
}

#nop-joincontainer {
    margin-top: 270px;
}

.nop-events-card h5 {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 48px;
    line-height: 20px;
    letter-spacing: 0%;
}

.nop-divider5 {
    margin-bottom: 0px;
    margin-top: 30px;
}

.nop-container {
    max-width: 1820px;
    padding: 0 15px;
    margin: 0 auto;
}

.nop-card {
    background: white;
    border-radius: 10px;
    flex: 1;
    margin: 20px 0 10px 17px;
    width: 97.4%;
    height: auto;
    padding-bottom: 15px;
    border: none;
}

#nop-joincontainer {
    padding: 25px 0px 20px;
}

#nop-cls {
    align-items: center !important;
}

.nop-join {
    border-radius: 15px;
    padding: 45px 60px 35px;
    height: 180px;
}

#nop-joincontainer #nop-clubheading {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0%;
    margin-bottom: 9px;
}

.nop-join .nop-heading {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
}

#nop-joincontainer #nop-clubsub {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 42px;
    letter-spacing: 0%;
}

.nop-head {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
}

#nop-join-club {
    width: 200px;
    height: 60px;
    padding: 8px 16px;
    border-radius: 7px;
    background-color: #99816b;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    font-family: Inter;
    color: white;
    margin-bottom: 20px;
    border: none;
    outline: none;
    box-shadow: none;
}

#nop-footer-heading {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 500;
    line-height: 36px
}

#nop-footer-description {
    font-weight: 400;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
}

.nop-contact-col,
.nop-social-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nop-contact-col {
    margin-right: 60px;
}

.nop-social-col {
    margin-left: 60px;
}

.nop-contact-item {
    padding-bottom: 4px;
}

.nop-contact-item:last-child {
    padding-bottom: 0px;
}

.nop-social-item {
    padding-bottom: 10px;
}

.nop-social-item:last-child {
    padding-bottom: 0px;
}

.nop-icon-circles,
.nop-ficon-circles {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.nop-footer-img {
    max-width: 440px;
    height: 350px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.nop-site-footer {
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 14px;
    color: #555;
    border-top: 1px solid #ddd;
    margin-top: 40px;
}

.nop-site-footer a {
    color: #007bff;
    text-decoration: none;
}

.nop-site-footer a:hover {
    text-decoration: underline;
}

.nop-memtext {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000;
}

.nop-hero-section {
    position: relative;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.nop-hero-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.46);
    z-index: 1;
}

.nop-hero-overlay {
    position: relative;
    z-index: 2;
    background: rgba(76, 64, 54, 0.5);
    padding: 53px 42px;
    width: 825px;
    height: 558px;
    margin-left: 2%;
    border-radius: 10px;
    color: #fff;
}

#nop-view {
    width: 100%;
    max-width: 187px;
    height: 60px;
    border-radius: 7px;
    background-color: #99816b;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    font-family: Inter;
    color: white;
    border: none;
}

.nop-hero-overlay .nop-icon-circles {
    margin-top: 10px;
    margin-bottom: 50px;
    width: 34px;
    height: 34px;
    margin-right: 10px;
}

.nop-hero-overlay h1 {
    font-size: 72px;
    margin-bottom: 20px;
    margin-top: 50px;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    line-height: 1.2;
    letter-spacing: 0%;
}

.nop-hero-overlay .nop-prehead {
    margin-top: 5px;
    margin-left: 5px;
}

#nop-overlay-button {
    width: 280px;
    height: 60px;
    padding: 8px 16px;
    border-radius: 7px;
    background-color: #99816b;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    font-family: Inter;
    color: white;
    border: none;
    margin-top: 12px;
    margin-left: 5px;
}

.nop-card-section {
    display: flex;
    gap: 15px;
    width: 100%;
}

.nop-stat-card {
    background: #cc445e;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 219px;
    font-family: Inter;
    font-size: 1.2rem;
    height: 148px;
}

.nop-event-card {
    background: #755840;
    color: white;
    padding: 20px;
    height: 148px;
    border-radius: 8px;
    text-align: center;
    font-family: Inter;
    font-size: 1.2rem;
    width: 219px;
}

.nop-number {
    font-weight: 500;
    font-size: 48px;
    font-family: Inter;
    line-height: 100%;
    color: white;
    margin-top: 30px;
}

.nop-ca-details {
    font-weight: 400;
    font-size: 20px;
    font-family: Inter;
    line-height: 100%;
}


.nop-days {
    margin-top: 35px;
    font-weight: 400;
    font-family: Inter;
    font-size: 16px;
    line-height: 100%;
}


@media only screen and (max-width: 1399px) {
    #nop-overall {
        padding: 0 25px 60px 35px;
    }

    #nop-heads {
        padding: 50px 25px 50px 50px;
    }

    .nop-search-bar {
        display: flex;
        align-items: center;
        background-color: #fff;
        border: 1px solid #e5e7eb;
        border-radius: 8px;
        padding: 6px 30px;
        width: 400px;
        height: 60px;
        transition: border-color 0.nop-2s ease;
        gap: 20px
    }

    .nop-events-cards {
        display: flex;
        align-items: center;
        background-color: white;
        box-shadow: 0px 10px 20px 0px rgba(153, 129, 107, 0.15);
        margin-bottom: 35px;
        border-radius: 10px;
        width: 710px;
        height: 310px;
        flex-direction: row;
        gap: 50px
    }

    .nop-events-cards img {
        max-width: 200px;
        width: 450px;
        height: 250px;
        border-radius: 8px;
        opacity: 1;
        margin-left: 20px;
        margin-right: 0;
    }

    .nop-events-cards #nop-edate {
        width: 150px;
    }

    .nop-events-cards #nop-espeaker {
        width: 150px;
    }

    .nop-more-card {
        width: 110% !important;
    }

    #nop-right {
        margin-left: -10px;
    }

    #nop-edate {
        width: 120px;
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: left;
    }

    .nop-event-date {
        width: 120px;
        display: block;
    }

    #nop-ename {
        font-size: 13px
    }
}

@media only screen and (max-width: 1199px) {
    #nop-overall {
        padding: 0 25px 60px 35px;
    }

    #nop-heads {
        padding: 50px 25px 50px 50px;
    }

    .nop-search-bar {
        display: flex;
        align-items: center;
        background-color: #fff;
        border: 1px solid #e5e7eb;
        border-radius: 8px;
        padding: 6px 30px;
        width: 400px;
        height: 60px;
        transition: border-color 0.nop-2s ease;
        gap: 20px
    }

    .nop-events-cards {
        display: flex;
        align-items: center;
        background-color: white;
        box-shadow: 0px 10px 20px 0px rgba(153, 129, 107, 0.15);
        margin-bottom: 35px;
        border-radius: 10px;
        width: 550px;
        height: 310px;
        flex-direction: row;
        gap: 40px
    }

    .nop-events-cards img {
        max-width: 150px;
        width: 400px;
        height: 200px;
        border-radius: 8px;
        opacity: 1;
        margin-left: 20px;
        margin-right: 0;
    }

    .nop-events-cards #nop-ename {
        font-size: 20px;
    }

    .nop-events-cards .nop-text-secondary {
        font-size: 12px;
        line-height: 16px;
    }

    .nop-events-cards #nop-edate {
        width: 150px;
    }

    .nop-events-cards #nop-espeaker {
        width: 150px;
    }

    .nop-more-card {
        width: 120% !important;
    }

    .nop-event-details {
        display: flex;
        flex-direction: column;
    }

    .nop-event-info {
        width: 180px;
    }

    .nop-day-number {
        width: 30px;
    }

    #nop-right {
        margin-left: -30px;
    }

    #nop-edate {
        width: 120px;
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: left;
    }

    .nop-event-date {
        width: 120px;
        display: block;
        text-align: left;
    }

    #nop-ename {
        font-size: 14px
    }
}

@media only screen and (max-width: 991px) {

    .nop-right-header .nop-profile-mobile,
    .nop-right-header .nop-divider,
    .nop-notification-desktop,
    .nop-down {
        display: none !important;
    }

    .nop-notification-mobile {
        display: inline-flex !important;
        margin-right: 10px;
    }

    #nop-login {
        padding: 0px 15px 20px 45px;
        display: flex;
        font-size: 18px;
        font-family: Inter;
        font-weight: 400;
    }

    .nop-navbar .nop-right-header {
        margin-left: 0;
    }

    #nop-overall {
        padding: 0 25px 60px 35px;
    }

    #nop-overall .row {
        display: flex;
        flex-direction: column;
    }

    #nop-heads {
        padding: 50px 25px 50px 50px;
    }

    .nop-search-bar {
        display: flex;
        align-items: center;
        background-color: #fff;
        border: 1px solid #e5e7eb;
        border-radius: 8px;
        padding: 6px 30px;
        width: 400px;
        height: 60px;
        transition: border-color 0.nop-2s ease;
        gap: 20px
    }

    .nop-events-cards {
        display: flex;
        align-items: center;
        background-color: white;
        box-shadow: 0px 10px 20px 0px rgba(153, 129, 107, 0.15);
        margin-bottom: 35px;
        border-radius: 10px;
        width: 700px;
        height: auto;
        flex-direction: column;
        gap: 40px;
        text-align: center;
        justify-content: center;
    }

    #nop-detail {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .nop-events-cards img {
        max-width: 300px;
        width: 550px;
        height: auto;
        border-radius: 8px;
        opacity: 1;
        margin-left: 20px;
        margin-right: 0;
    }

    .nop-events-cards #nop-ename {
        font-size: 24px;
    }

    .nop-events-cards .nop-text-secondary {
        font-size: 14px;
        line-height: 20px;
    }

    .nop-events-cards #nop-edate {
        width: 150px;
    }

    .nop-events-cards #nop-espeaker {
        width: 150px;
    }

    .nop-more-card {
        width: 700px !important;
    }

    #nop-events-left {
        order: 1;
        width: 155%;
    }

    #nop-right {
        order: 2;
        width: 100%;
        margin-top: 20px;
    }

    .nop-event-details {
        display: flex;
        flex-direction: row;
    }

    .nop-event-info {
        width: 100%;
    }

    #nop-edate {
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: left;
    }

    #nop-ename {
        font-size: 16px
    }
}

@media only screen and (max-width: 767px) {
    #nop-overall {
        padding: 0 25px 60px 35px;
    }

    #nop-overall .row {
        display: flex;
        flex-direction: column;
    }

    #nop-heads {
        padding: 50px 25px 50px 50px;
    }

    .nop-search-bar {
        display: flex;
        align-items: center;
        background-color: #fff;
        border: 1px solid #e5e7eb;
        border-radius: 8px;
        padding: 6px 30px;
        width: 250px;
        height: 60px;
        transition: border-color 0.nop-2s ease;
        gap: 20px
    }

    .nop-events-title {
        font-size: 30px;
    }

    .nop-events-cards {
        display: flex;
        align-items: center;
        background-color: white;
        box-shadow: 0px 10px 20px 0px rgba(153, 129, 107, 0.15);
        margin-bottom: 35px;
        border-radius: 10px;
        width: 500px;
        height: auto;
        flex-direction: column;
        gap: 40px;
        text-align: center;
        justify-content: center;
    }

    #nop-detail {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .nop-events-cards img {
        max-width: 550px;
        width: 300px;
        height: auto;
        border-radius: 8px;
        opacity: 1;
        margin-left: 20px;
        margin-right: 0;
    }

    .nop-events-cards #nop-ename {
        font-size: 24px;
    }

    .nop-events-cards .nop-text-secondary {
        font-size: 14px;
        line-height: 20px;
    }

    .nop-events-cards #nop-edate {
        width: 150px;
    }

    .nop-events-cards #nop-espeaker {
        width: 150px;
    }

    .nop-more-card {
        width: 500px !important;
        margin-left: 10px;
    }

    #nop-events-left {
        order: 1;
        width: 100%;
    }

    #nop-right {
        order: 2;
        width: 100%;
        margin-top: 20px;
    }

    .nop-event-details {
        display: flex;
        flex-direction: row;
    }

    .nop-event-info {
        width: 100%;
    }

    #nop-edate {
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: left;
    }

    #nop-ename {
        font-size: 16px
    }
}

@media only screen and (max-width: 575px) {
    #nop-overall {
        padding: 0 25px 60px 35px;
    }

    #nop-overall .row {
        display: flex;
        flex-direction: column;
    }

    #nop-heads {
        padding: 50px 25px 50px 50px;
    }

    .nop-events-header {
        gap: 20px;
    }

    .nop-events-title {
        font-size: 20px;
    }

    .nop-search-bar {
        display: flex;
        align-items: center;
        background-color: #fff;
        border: 1px solid #e5e7eb;
        border-radius: 8px;
        padding: 6px 30px;
        width: 250px;
        height: 50px;
        transition: border-color 0.nop-2s ease;
        gap: 20px
    }

    .nop-events-cards {
        display: flex;
        align-items: center;
        background-color: white;
        box-shadow: 0px 10px 20px 0px rgba(153, 129, 107, 0.15);
        margin-bottom: 35px;
        border-radius: 10px;
        width: 300px;
        height: auto;
        flex-direction: column;
        gap: 40px;
        text-align: center;
        justify-content: center;
    }

    #nop-detail {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .nop-events-cards img {
        max-width: 400px;
        width: 200px;
        height: auto;
        border-radius: 8px;
        opacity: 1;
        margin-left: 20px;
        margin-right: 0;
    }

    .nop-events-cards #nop-ename {
        font-size: 24px;
    }

    .nop-events-cards .nop-text-secondary {
        font-size: 14px;
        line-height: 20px;
    }

    .nop-events-cards #nop-edate {
        width: 150px;
    }

    .nop-events-cards #nop-espeaker {
        width: 150px;
    }

    .nop-more-card {
        width: 320px !important;
        margin-left: 10px;
    }

    #nop-events-left {
        order: 1;
        width: 100%;
    }

    #nop-right {
        order: 2;
        width: 100%;
        margin-top: 20px;
    }

    .nop-event-details {
        display: flex;
        flex-direction: column;
    }

    .nop-event-info {
        width: 100%;
    }

    #nop-edate {
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: left;
    }

    #nop-ename {
        font-size: 16px
    }
}

@media only screen and (max-width: 359px) {
    #nop-overall {
        padding: 0 25px 60px 35px;
    }

    #nop-overall .row {
        display: flex;
        flex-direction: column;
    }

    #nop-heads {
        padding: 50px 25px 50px 50px;
    }

    .nop-events-title {
        font-size: 20px;
    }

    .nop-search-bar {
        display: flex;
        align-items: center;
        background-color: #fff;
        border: 1px solid #e5e7eb;
        border-radius: 8px;
        padding: 6px 30px;
        width: 200px;
        height: 60px;
        transition: border-color 0.2s ease;
        gap: 20px
    }

    .nop-filter-buttons {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        padding-bottom: 50px;
    }

    .nop-events-cards {
        display: flex;
        align-items: center;
        background-color: white;
        box-shadow: 0px 10px 20px 0px rgba(153, 129, 107, 0.15);
        margin-bottom: 35px;
        border-radius: 10px;
        width: 300px;
        height: auto;
        flex-direction: column;
        gap: 40px;
        text-align: center;
        justify-content: center;
    }

    #nop-detail {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .nop-events-cards img {
        max-width: 400px;
        width: 200px;
        height: auto;
        border-radius: 8px;
        opacity: 1;
        margin-left: 20px;
        margin-right: 0;
    }

    .nop-events-cards #nop-ename {
        font-size: 24px;
    }

    .nop-events-cards .nop-text-secondary {
        font-size: 14px;
        line-height: 20px;
    }

    .nop-events-cards #nop-edate {
        width: 150px;
    }

    .nop-events-cards #nop-espeaker {
        width: 150px;
    }

    .nop-more-card {
        width: 320px !important;
        margin-left: 10px;
    }

    #nop-events-left {
        order: 1;
        width: 100%;
    }

    #nop-right {
        order: 2;
        width: 100%;
        margin-top: 20px;
    }

    .nop-event-details {
        display: flex;
        flex-direction: column;
    }

    .nop-event-info {
        width: 100%;
    }

    #nop-edate {
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: left;
    }

    #nop-ename {
        font-size: 16px
    }
}