#sco-overall {
    padding: 0px 0px 20px 75px;
}

#sco-heads {
    padding: 70px 68px 38px 100px;
}

#sco-right {
    margin-left: 10px
}

#sco-eventdetails {
    margin-left: -20px
}

#sco-edate {
    margin-top: 5px;
    margin-bottom: 47px
}

.sco-events-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
}

.sco-events-title {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
}

.sco-search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding: 6px 10px;
    width: 470px;
    height: 60px;
    transition: border-color 0.2s ease;
}

.sco-search-bar:hover,
.sco-search-bar:focus-within {
    border-color: #d1d5db;
}

.sco-search-bar i {
    color: #c0c0c0;
    font-size: 14px;
    margin-right: 8px;
}

.sco-search-input {
    border: none;
    outline: none;
    font-size: 14px;
    color: #333;
    flex: 1;
    background: transparent;
}

.sco-search-input::placeholder {
    color: #c0c0c0;
}

.sco-breadcrumb {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #6b7280;
}

.sco-breadcrumb-item {
    text-decoration: none;
    color: #6b7280;
}

.sco-breadcrumb-item.sco-active {
    color: #111827;
    font-weight: 600;
}

.sco-breadcrumb-separator {
    color: #9ca3af;
}

.sco-card {
    background: white;
    border-radius: 10px;
    flex: 1;
    margin: 0px 0 10px 20px;
    width: 97.4%;
    height: auto;
    padding-bottom: 15px;
    border: none;
}

.sco-card .sco-head {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 50px;
}

.sco-card .sco-text-secondary {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-left: -10px;
    width: 1100px;
}

.sco-title {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 22px;
    margin: 0;
}

.sco-name {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.9;
    margin-top: 2px;
}

.sco-divider4 {
    width: 1100px;
    height: 1px;
    background-color: rgba(217, 217, 217, 1);
    margin-top: 35px;
    margin-bottom: 90px;
    border-bottom: 1px solid rgba(217, 217, 217, 1);
}

.sco-resultpics {
    margin-top: 60px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 1068px;
}

.sco-resultpics-items {
    position: relative;
    overflow: hidden;
}

.sco-resultpics-items img {
    width: 100%;
    height: 364px;
    object-fit: cover;
    object-position: top;
    max-width: 356px;
}

.sco-resultpics-infos {
    background: #4c403699;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
    font-family: Inter;
    display: flex;
    align-items: left;
    justify-content: left;
    height: 60px;
    padding: 14px 28px;
}

.sco-resultpics-infos #sco-medal-inline {
    width: 30px !important;
    height: 36px !important;
}

#sco-joincontainer {
    margin-top: 80px;
}

.sco-site-footer {
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 14px;
    color: #555;
    border-top: 1px solid #ddd;
    margin-top: 40px;
}

.sco-site-footer a {
    color: #007bff;
    text-decoration: none;
}

.sco-site-footer a:hover {
    text-decoration: underline;
}

.sco-event-img,
.sco-fallback-box {
    width: 100%;
    max-width: 50px;
    height: 50px;
    border-radius: 7px;
    object-fit: cover;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.sco-event-item {
    gap: 20px;
}

.sco-fallback-box {
    font-size: 14px;
    color: #888;
}

.sco-icon-circles .sco-flickr-dots i,
.sco-flickr-dots i {
    font-size: 8px;
    margin: 1px;
}

#sco-footer-heading {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 500;
    font-family: Inter;
    font-style: Regular;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
}

#sco-events-left {
    flex: 3;
}

.sco-ultrahead {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 72px;
    line-height: 20px;
    letter-spacing: 0%;
}

.sco-heading {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
}

.sco-head {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
}

.sco-clubhead {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

.sco-subhead {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0%;
}

.sco-memtext {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.sco-prehead {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
}

.sco-galtext {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
}

.sco-calendar-card {
    background: white;
    width: 470px;
    padding: 20px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 24px;
    box-shadow: 0px 10px 20px 0px rgba(153, 129, 107, 0.15);
    margin-top: -5px;
}

.sco-season-card {
    height: 470px;
    background: white;
    width: 470px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 24px;
    box-shadow: 0px 10px 20px 0px rgba(153, 129, 107, 0.15);
}

.sco-more-card {
    height: 580px;
    background: white;
    width: 470px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 24px;
    box-shadow: 0px 10px 20px 0px rgba(153, 129, 107, 0.15);
}

.sco-event-list {
    padding-top: 0px;
}

.sco-event-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sco-event-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sco-event-item img {
    width: 100%;
    max-width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
}

.sco-event-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    font-size: 0.875rem;
    width: 100%;
}

#sco-ename {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}

#sco-espeaker {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0%;
}

.sco-notification-mobile {
    display: none;
}

.sco-session-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px 0px;
}

.sco-session-card {
    width: 410px;
    height: 160px;
    background: rgba(236, 237, 230, 0.3);
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 12px;
    padding: 15px 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;
}

.sco-session-card:hover {
    transform: translateY(-2px);
}

.sco-session-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.sco-session-header h3 {
    font-size: 20px;
    color: #333;
    margin: 0;
}

.sco-status {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 3px 10px;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 11.85px;
    line-height: 100%;
    letter-spacing: 0%;
}

.sco-status .sco-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 6px;
}

.sco-status.sco-active {
    background: #eaf8ef;
    color: #22c55e;
}

.sco-status.sco-active .sco-dot {
    background: #22c55e;
}

.sco-status.sco-inactive {
    background: #f0f0f0;
    color: #777;
}

.sco-status.sco-inactive .sco-dot {
    background: #bdbdbd;
}

.sco-session-body {
    display: flex;
    justify-content: space-between;
    margin: 40px 40px 20px 20px;
}

.sco-info {
    font-size: 15px;
    color: #444;
    display: flex;
    align-items: center;
    gap: 6px;
}

.sco-icon {
    font-size: 16px;
}

.sco-session-footer {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
}

.sco-dt-paging {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 5px;
}

.sco-dt-paging-button {
    border: 1px solid green;
    background: #ffffff;
    color: black;
    margin: 2px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
    width: 40px;
    height: 40px;
    padding: 0;
}

.sco-dt-paging-button.sco-disabled {
    background: #ffffff;
    color: black;
    border: 1px solid #99816b;
    cursor: not-allowed;
    opacity: 0.6;
}

.sco-dt-paging-button.sco-current {
    background: orange;
    font-weight: bold;
    border: none;
    color: white
}

.sco-divider5 {
    margin-bottom: 0px;
    margin-top: 30px;
}

.sco-container {
    max-width: 1820px;
    padding: 0 15px;
    margin: 0 auto;
}

.sco-card {
    background: white;
    border-radius: 10px;
    flex: 1;
    margin: 20px 0 10px 17px;
    width: 97.4%;
    height: auto;
    padding-bottom: 15px;
    border: none;
}

#sco-joincontainer {
    padding: 25px 0px 20px;
}

#sco-cls {
    align-items: center !important;
}

.sco-join {
    border-radius: 15px;
    padding: 45px 60px 35px;
    height: 180px;
}

#sco-joincontainer #sco-clubheading {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0%;
    margin-bottom: 9px;
}

.sco-join .sco-heading {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
}

#sco-joincontainer #sco-clubsub {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 42px;
    letter-spacing: 0%;
}

.sco-head {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
}

#sco-join-club {
    width: 200px;
    height: 60px;
    padding: 8px 16px;
    border-radius: 7px;
    background-color: #99816b;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    font-family: Inter;
    color: white;
    margin-bottom: 20px;
    border: none;
    outline: none;
    box-shadow: none;
}

#sco-footer-heading {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 500;
    line-height: 36px
}

#sco-footer-description {
    font-weight: 400;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
}

.sco-contact-col,
.sco-social-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sco-contact-col {
    margin-right: 60px;
}

.sco-social-col {
    margin-left: 60px;
}

.sco-contact-item {
    padding-bottom: 4px;
}

.sco-contact-item:last-child {
    padding-bottom: 0px;
}

.sco-social-item {
    padding-bottom: 10px;
}

.sco-social-item:last-child {
    padding-bottom: 0px;
}

.sco-icon-circles,
.sco-ficon-circles {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.sco-footer-img {
    max-width: 440px;
    height: 350px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.sco-site-footer {
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 14px;
    color: #555;
    border-top: 1px solid #ddd;
    margin-top: 40px;
}

.sco-site-footer a {
    color: #007bff;
    text-decoration: none;
}

.sco-site-footer a:hover {
    text-decoration: underline;
}

.sco-memtext {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000;
}

.sco-hero-section {
    position: relative;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 20px;
}

.sco-hero-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.46);
    z-index: 1;
}

.sco-hero-overlay {
    position: relative;
    z-index: 2;
    background: rgba(76, 64, 54, 0.5);
    padding: 53px 42px;
    width: 825px;
    height: 558px;
    margin-left: 2%;
    border-radius: 10px;
    color: #fff;
}

#sco-view {
    width: 100%;
    max-width: 187px;
    height: 60px;
    border-radius: 7px;
    background-color: #99816b;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    font-family: Inter;
    color: white;
}

.sco-hero-overlay .sco-icon-circles {
    margin-top: 10px;
    margin-bottom: 50px;
    width: 34px;
    height: 34px;
    margin-right: 10px;
}

.sco-hero-overlay h1 {
    font-size: 72px;
    margin-bottom: 20px;
    margin-top: 50px;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    line-height: 1.2;
    letter-spacing: 0%;
}

.sco-hero-overlay .sco-prehead {
    margin-top: 5px;
    margin-left: 5px;
}

#sco-overlay-button {
    width: 280px;
    height: 60px;
    padding: 8px 16px;
    border-radius: 7px;
    background-color: #99816b;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    font-family: Inter;
    color: white;
    border: none;
    margin-top: 12px;
    margin-left: 5px;
}

.sco-card-section {
    display: flex;
    gap: 15px;
    width: 100%;
}

.sco-stat-card {
    background: #cc445e;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 219px;
    font-family: Inter;
    font-size: 1.2rem;
    height: 148px;
}

.sco-event-card {
    background: #755840;
    color: white;
    padding: 20px;
    height: 148px;
    border-radius: 8px;
    text-align: center;
    font-family: Inter;
    font-size: 1.2rem;
    width: 219px;
}

.sco-number {
    font-weight: 500;
    font-size: 48px;
    font-family: Inter;
    line-height: 100%;
    color: white;
    margin-top: 30px;
}

.sco-ca-details {
    font-weight: 400;
    font-size: 20px;
    font-family: Inter;
    line-height: 100%;
}


.sco-days {
    margin-top: 35px;
    font-weight: 400;
    font-family: Inter;
    font-size: 16px;
    line-height: 100%;
}

@media only screen and (max-width: 1399px) {
    #sco-overall {
        padding: 0 25px 60px 35px;
    }

    #sco-heads {
        padding: 50px 25px 50px 50px;
    }

    .sco-search-bar {
        display: flex;
        align-items: center;
        background-color: #fff;
        border: 1px solid #e5e7eb;
        border-radius: 8px;
        padding: 6px 30px;
        width: 400px;
        height: 60px;
        transition: border-color 0.2s ease;
        gap: 20px
    }

    .sco-resultpics {
        margin-top: -15px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }

    .sco-divider4,
    .sco-divider5 {
        width: 100%
    }

    .sco-resultpics-items {
        position: relative;
        overflow: hidden;
    }

    .sco-resultpics-items img {
        width: 100%;
        height: 275px;
        object-fit: cover;
        object-position: top;
    }

    .sco-calendar-card,
    .sco-season-card,
    .sco-more-card {
        width: 110% !important;
    }

    #sco-right {
        margin-left: -10px;
    }

    #sco-edate {
        width: 120px;
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: left;
    }

    .sco-event-date {
        width: 120px;
        display: block;
    }

    #sco-ename {
        font-size: 13px
    }

    .sco-session-card {
        width: 100%;
    }

    .sco-info {
        font-size: 13px;
    }
}

@media only screen and (max-width: 1199px) {
    #sco-overall {
        padding: 0 25px 60px 35px;
    }

    #sco-heads {
        padding: 50px 25px 50px 50px;
    }

    .sco-search-bar {
        display: flex;
        align-items: center;
        background-color: #fff;
        border: 1px solid #e5e7eb;
        border-radius: 8px;
        padding: 6px 30px;
        width: 400px;
        height: 60px;
        transition: border-color 0.2s ease;
        gap: 20px
    }

    .sco-resultpics {
        margin-top: -15px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .sco-resultpics-items {
        position: relative;
        overflow: hidden;
    }

    .sco-resultpics-items img {
        width: 100%;
        height: 275px;
        object-fit: cover;
        object-position: top;
    }

    .sco-calendar-card,
    .sco-season-card,
    .sco-more-card {
        width: 120% !important;
    }

    .sco-event-details {
        display: flex;
        flex-direction: column;
    }

    .sco-event-info {
        width: 180px;
    }

    .sco-day-number {
        width: 30px;
    }

    #sco-right {
        margin-left: -30px;
    }

    #sco-edate {
        width: 120px;
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: left;
    }

    .sco-event-date {
        width: 120px;
        display: block;
        text-align: left;
    }

    #sco-ename {
        font-size: 14px
    }

    .sco-session-card {
        width: 100%;
    }

    .sco-session-body {
        margin: 40px 20px 20px 0;
    }

    .sco-info {
        font-size: 13px;
    }
}

@media only screen and (max-width: 991px) {

    .sco-right-header .sco-profile-mobile,
    .sco-right-header .sco-divider,
    .sco-notification-desktop,
    .sco-down {
        display: none !important;
    }

    .sco-notification-mobile {
        display: inline-flex !important;
        margin-right: 10px;
    }

    #sco-login {
        padding: 0px 15px 20px 45px;
        display: flex;
        font-size: 18px;
        font-family: Inter;
        font-weight: 400;
    }

    .sco-navbar .sco-right-header {
        margin-left: 0;
    }

    #sco-overall {
        padding: 0 25px 60px 35px;
    }

    #sco-overall .row {
        display: flex;
        flex-direction: column;
    }

    .sco-card .row {
        display: flex;
        flex-direction: row;
    }

    #sco-heads {
        padding: 50px 25px 50px 50px;
    }

    .sco-events-title {
        font-size: 32px;
    }

    .sco-search-bar {
        display: flex;
        align-items: center;
        background-color: #fff;
        border: 1px solid #e5e7eb;
        border-radius: 8px;
        padding: 6px 30px;
        width: 300px;
        height: 50px;
        transition: border-color 0.2s ease;
        gap: 20px
    }

    .sco-card img {
        width: 670px;
    }

    .sco-card .sco-text-secondary {
        width: 680px;
    }

    .sco-divider4,
    .sco-divider5 {
        width: 150%
    }

    .sco-resultpics {
        grid-template-columns: repeat(3, 1fr) !important;
    }

    .sco-resultpics-items img {
        width: 100% !important;
        max-width: 100% !important;
    }

    .sco-calendar-card,
    .sco-season-card,
    .sco-more-card {
        width: 700px !important;
    }

    #sco-events-left {
        order: 1;
        width: 100%;
    }

    #sco-right {
        order: 2;
        width: 100%;
        margin-top: 20px;
    }

    .sco-event-details {
        display: flex;
        flex-direction: row;
    }

    .sco-event-info {
        width: 100%;
    }

    #sco-edate {
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: left;
    }

    #sco-ename {
        font-size: 16px
    }

    .sco-session-card {
        width: 100%;
    }

    .sco-session-body {
        margin: 40px 40px 20px 20px;
    }

    .sco-info {
        font-size: 15px;
    }
}

@media only screen and (max-width: 767px) {
    #sco-overall {
        padding: 0 25px 60px 35px;
    }

    #sco-overall .row {
        display: flex;
        flex-direction: column;
    }

    #sco-heads {
        padding: 50px 25px 50px 50px;
    }

    .sco-search-bar {
        display: flex;
        align-items: center;
        background-color: #fff;
        border: 1px solid #e5e7eb;
        border-radius: 8px;
        padding: 6px 30px;
        width: 300px;
        height: 60px;
        transition: border-color 0.2s ease;
        gap: 20px
    }

    .sco-calendar-card,
    .sco-season-card,
    .sco-more-card {
        width: 500px !important;
        margin-left: 10px;
    }

    #sco-events-left {
        order: 1;
        width: 100%;
    }

    #sco-right {
        order: 2;
        width: 100%;
        margin-top: 20px;
    }

    .sco-event-details {
        display: flex;
        flex-direction: row;
    }

    .sco-event-info {
        width: 100%;
    }

    .sco-card img,
    .sco-card .sco-text-secondary {
        width: 500px;
    }

    .sco-divider4,
    .sco-divider5 {
        width: 100%;
    }

    .sco-resultpics {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    #sco-edate {
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: left;
    }

    #sco-ename {
        font-size: 16px
    }

    .sco-session-card {
        width: 100%;
    }

    .sco-session-body {
        margin: 40px 40px 20px 20px;
    }

    .sco-info {
        font-size: 15px;
    }
}

@media only screen and (max-width: 575px) {
    #sco-overall {
        padding: 0 25px 60px 35px;
    }

    #sco-overall .row {
        display: flex;
        flex-direction: column;
    }

    #sco-heads {
        padding: 50px 25px 50px 50px;
    }

    .sco-events-title {
        font-size: 20px;
    }

    .sco-search-bar {
        display: flex;
        align-items: center;
        background-color: #fff;
        border: 1px solid #e5e7eb;
        border-radius: 8px;
        padding: 6px 30px;
        width: 200px;
        height: 60px;
        transition: border-color 0.2s ease;
        gap: 20px
    }

    .sco-calendar-card,
    .sco-season-card,
    .sco-more-card {
        width: 320px !important;
        margin-left: 10px;
    }

    #sco-events-left {
        order: 1;
        width: 100%;
    }

    #sco-right {
        order: 2;
        width: 100%;
        margin-top: 20px;
    }

    .sco-event-details {
        display: flex;
        flex-direction: column;
    }

    .sco-event-info {
        width: 100%;
    }

    .sco-card img,
    .sco-card .sco-text-secondary {
        width: 300px;
    }

    .sco-divider4,
    .sco-divider5 {
        width: 100%;
    }

    .sco-resultpics {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    #sco-edate {
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: left;
    }

    #sco-ename {
        font-size: 16px
    }

    .sco-session-card {
        width: 100%;
    }

    .sco-session-body {
        margin: 40px 20px 20px 0;
    }

    .sco-info {
        font-size: 13px;
    }
}

@media only screen and (max-width: 359px) {
    #sco-overall {
        padding: 0 25px 60px 35px;
    }

    #sco-overall .row {
        display: flex;
        flex-direction: column;
    }

    #sco-heads {
        padding: 50px 25px 50px 50px;
    }

    .sco-events-title {
        font-size: 20px;
    }

    .sco-search-bar {
        display: flex;
        align-items: center;
        background-color: #fff;
        border: 1px solid #e5e7eb;
        border-radius: 8px;
        padding: 6px 30px;
        width: 200px;
        height: 60px;
        transition: border-color 0.2s ease;
        gap: 20px
    }

    .sco-calendar-card,
    .sco-season-card,
    .sco-more-card {
        width: 320px !important;
        margin-left: 10px;
    }

    #sco-events-left {
        order: 1;
        width: 100%;
    }

    #sco-right {
        order: 2;
        width: 100%;
        margin-top: 20px;
    }

    .sco-event-details {
        display: flex;
        flex-direction: column;
    }

    .sco-event-info {
        width: 100%;
    }

    #sco-edate {
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: left;
    }

    #sco-ename {
        font-size: 16px
    }

    .sco-session-card {
        width: 100%;
    }

    .sco-session-body {
        margin: 40px 20px 20px 0;
    }

    .sco-info {
        font-size: 13px;
    }
}