  #sre-overall {
      padding: 0 25px 60px 75px;
  }

  #sre-events-left {
      flex: 3;
  }

  #sre-heads {
      padding: 60px 10px 48px 90px;
  }

  #sre-season-heads {
      padding: 33px 10px 78px 93px;
  }

  .sre-events-header,
  .sre-season-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem;
      flex-wrap: wrap;
  }

  .sre-events-title {
      font-family: Inter;
      font-weight: 500;
      font-style: Medium;
      font-size: 36px;
      line-height: 100%;
      letter-spacing: 0%;
      margin: 0;
  }

  .sre-season-title {
      font-family: Inter;
      font-weight: 500;
      font-style: Medium;
      font-size: 28px;
      line-height: 100%;
      letter-spacing: 0%;
  }

  .sre-search-bar {
      display: flex;
      align-items: center;
      background-color: #fff;
      border: 1px solid #e5e7eb;
      border-radius: 8px;
      padding: 6px 30px;
      width: 470px;
      height: 60px;
      transition: border-color 0.2s ease;
      gap: 20px
  }

  .sre-search-bars {
      display: flex;
      align-items: center;
      background-color: #fff;
      border: 1px solid #e5e7eb;
      border-radius: 8px;
      padding: 6px 30px;
      width: 636px;
      height: 60px;
      transition: border-color 0.2s ease;
      gap: 20px
  }

  .sre-search-bar:hover,
  .sre-search-bar:focus-within {
      border-color: #d1d5db;
  }

  .sre-search-bar i {
      color: #c0c0c0;
      font-size: 20px;
      margin-right: 8px;
  }

  .sre-search-input {
      border: none;
      outline: none;
      font-size: 20px;
      color: #333;
      flex: 1;
      background: transparent;
  }

  .sre-search-input::placeholder {
      color: #c0c0c0;
  }

  .sre-suggestion-gallery {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      width: 100%;
  }

  .sre-suggestion-card {
      position: relative;
      overflow: hidden;
  }

  .sre-suggestion-card img {
      border-radius: 0;
      width: 100%;
      height: 295px;
      object-fit: cover;
      object-position: top;
  }

  .sre-suggestion-card .sre-img-overlay {
      background: #4c403699;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      color: white;
      padding: 5px;
      font-size: 20px;
      font-weight: 600;
      font-family: Inter;
      display: flex;
      height: 55px;
  }

  .sre-top-left img {
      border-top-left-radius: 10px;
  }

  .sre-top-right img {
      border-top-right-radius: 10px;
  }

  .sre-bottom-left img {
      border-bottom-left-radius: 10px;
  }

  .sre-bottom-right img {
      border-bottom-right-radius: 10px;
  }

  .sre-bottom-left {
      border-bottom-left-radius: 10px;
  }

  .sre-bottom-right {
      border-bottom-right-radius: 10px;
  }

  .sre-special-radius img,
  .sre-special-radius {
      border-bottom-right-radius: 10px;
  }

  .sre-icon-circles .sre-flickr-dots i,
  .sre-flickr-dots i {
      font-size: 8px;
      padding-bottom: 8px;
      margin: 1px;
  }

  .sre-site-footer {
      padding: 15px 0;
      text-align: center;
      font-size: 14px;
      color: #99816b;
      bottom: 0;
      left: 0;
      width: 100%;
      position: relative;
      font-family: Inter;
      font-weight: 400;
      font-style: Regular;
      line-height: 100%;
      letter-spacing: 0%;
  }

  .sre-competition-section {
      padding: 30px;
  }

  .sre-heading {
      font-family: Inter;
      font-weight: 500;
      font-style: Medium;
      font-size: 36px;
      line-height: 100%;
      letter-spacing: 0%;
      margin-bottom: 20px;
  }

  .sre-clubsub {
      font-family: Inter;
      font-weight: 400;
      font-style: Regular;
      font-size: 18px;
      line-height: 100%;
      letter-spacing: 0%;
  }

  .sre-suggestion-card.top-left img {
      border-top-left-radius: 10px;
  }

  .sre-suggestion-card.top-right img {
      border-top-right-radius: 10px;
  }

  .sre-suggestion-card.bottom-left img {
      border-bottom-left-radius: 10px;
  }

  .sre-suggestion-card.bottom-right img {
      border-bottom-right-radius: 10px;
  }

  .sre-img-overlay.bottom-left {
      border-bottom-left-radius: 10px;
  }

  .sre-img-overlay.bottom-right {
      border-bottom-right-radius: 10px;
  }

  .sre-gallery-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
  }

  .sre-gallery-card {
      position: relative;
      overflow: hidden;
  }

  .sre-gallery-img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
  }

  .sre-overlay {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: rgba(108, 136, 94, 0.95);
      padding: 8px 10px;
      height: 120px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .sre-author {
      font-size: 11px;
      color: #e6e6e6;
  }

  .sre-overlay .sre-title {
      font-size: 12px;
  }

  .sre-badge {
      font-size: 14px;
  }

  .sre-container {
      max-width: 1820px;
      padding: 0 15px;
      margin: 0 auto;
  }

  .sre-card {
      background: white;
      border-radius: 10px;
      flex: 1;
      margin: 20px 0 10px 17px;
      width: 97.4%;
      height: auto;
      padding-bottom: 15px;
      border: none;
  }

  #sre-joincontainer {
      padding: 25px 0px 20px;
  }

  #sre-cls {
      align-items: center !important;
  }

  .sre-join {
      border-radius: 15px;
      padding: 45px 60px 35px;
      height: 180px;
  }

  #sre-joincontainer #sre-clubheading {
      font-family: Inter;
      font-weight: 500;
      font-style: Medium;
      font-size: 36px;
      line-height: 42px;
      letter-spacing: 0%;
      margin-bottom: 9px;
  }

  .sre-join .sre-heading {
      font-family: Inter;
      font-weight: 400;
      font-style: Regular;
      font-size: 36px;
      line-height: 100%;
      letter-spacing: 0%;
  }

  #sre-joincontainer #sre-clubsub {
      font-family: Inter;
      font-weight: 400;
      font-style: Regular;
      font-size: 24px;
      line-height: 42px;
      letter-spacing: 0%;
  }

  .sre-head {
      font-family: Inter;
      font-weight: 500;
      font-style: Medium;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 0%;
  }

  #sre-join-club {
      width: 200px;
      height: 60px;
      padding: 8px 16px;
      border-radius: 7px;
      background-color: #99816b;
      font-weight: 600;
      font-size: 20px;
      line-height: 100%;
      font-family: Inter;
      color: white;
      margin-bottom: 20px;
      border: none;
      outline: none;
      box-shadow: none;
  }

  #sre-footer-heading {
      text-align: center;
      margin-bottom: 30px;
      font-weight: 500;
      line-height: 36px
  }

  #sre-footer-description {
      font-weight: 400;
      text-align: center;
      font-family: Inter;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0%;
  }

  .sre-contact-col,
  .sre-social-col {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .sre-contact-col {
      margin-right: 60px;
  }

  .sre-social-col {
      margin-left: 60px;
  }

  .sre-contact-item {
      padding-bottom: 4px;
  }

  .sre-contact-item:last-child {
      padding-bottom: 0px;
  }

  .sre-social-item {
      padding-bottom: 10px;
  }

  .sre-social-item:last-child {
      padding-bottom: 0px;
  }

  .sre-icon-circles,
  .sre-ficon-circles {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
  }

  .sre-footer-img {
      max-width: 440px;
      height: 350px;
      border-radius: 20px;
      object-fit: cover;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }

  .sre-site-footer {
      padding-top: 25px;
      padding-bottom: 10px;
      text-align: center;
      font-size: 14px;
      color: #555;
      border-top: 1px solid #ddd;
      margin-top: 40px;
  }

  .sre-site-footer a {
      color: #007bff;
      text-decoration: none;
  }

  .sre-site-footer a:hover {
      text-decoration: underline;
  }

  .sre-memtext {
      font-family: Inter;
      font-weight: 400;
      font-style: Regular;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #000;
  }

  .sre-hero-section {
      position: relative;
      display: flex;
      align-items: center;
      font-family: 'Segoe UI', sans-serif;
      width: 100%;
      height: 70vh;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden;
  }

  .sre-hero-section::before {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(255, 255, 255, 0.46);
      z-index: 1;
  }

  .sre-hero-overlay {
      position: relative;
      z-index: 2;
      background: rgba(76, 64, 54, 0.5);
      padding: 53px 42px;
      width: 825px;
      height: 558px;
      margin-left: 2%;
      border-radius: 10px;
      color: #fff;
  }

  #sre-view {
      width: 100%;
      max-width: 187px;
      height: 60px;
      border-radius: 7px;
      background-color: #99816b;
      font-weight: 600;
      font-size: 20px;
      line-height: 100%;
      font-family: Inter;
      color: white;
  }

  .sre-hero-overlay .sre-icon-circles {
      margin-top: 10px;
      margin-bottom: 50px;
      width: 34px;
      height: 34px;
      margin-right: 10px;
  }

  .sre-hero-overlay h1 {
      font-size: 72px;
      margin-bottom: 20px;
      margin-top: 50px;
      font-family: Inter;
      font-weight: 400;
      font-style: Regular;
      line-height: 1.2;
      letter-spacing: 0%;
  }

  .sre-hero-overlay .sre-prehead {
      margin-top: 5px;
      margin-left: 5px;
  }

  #sre-overlay-button {
      width: 280px;
      height: 60px;
      padding: 8px 16px;
      border-radius: 7px;
      background-color: #99816b;
      font-weight: 400;
      font-size: 22px;
      line-height: 100%;
      font-family: Inter;
      color: white;
      border: none;
      margin-top: 12px;
      margin-left: 5px;
  }

  .sre-card-section {
      display: flex;
      gap: 15px;
      width: 100%;
  }

  .sre-stat-card {
      background: #cc445e;
      color: white;
      padding: 20px;
      border-radius: 8px;
      text-align: center;
      width: 219px;
      font-family: Inter;
      font-size: 1.2rem;
      height: 148px;
  }

  .sre-event-card {
      background: #755840;
      color: white;
      padding: 20px;
      height: 148px;
      border-radius: 8px;
      text-align: center;
      font-family: Inter;
      font-size: 1.2rem;
      width: 219px;
  }

  .sre-number {
      font-weight: 500;
      font-size: 48px;
      font-family: Inter;
      line-height: 100%;
      color: white;
      margin-top: 30px;
  }

  .sre-ca-details {
      font-weight: 400;
      font-size: 20px;
      font-family: Inter;
      line-height: 100%;
  }


  .sre-days {
      margin-top: 35px;
      font-weight: 400;
      font-family: Inter;
      font-size: 16px;
      line-height: 100%;
  }